<div>
    <label><input type="text" id="town-search" style="margin-top: 5px; width: 20rem;" /></label>
    <div class="tooltip help">
        <b>{{ 'Gib den Namen der Stadt ein.'|trans({},'admin') }}</b>
    </div>
</div>
<div id="towns-list"></div>