{% block ajax %}
    {% for user in users %}
        <button x-ajax-href="{{ url('admin_users_citizen_view', {id: user.id}) }}" class="user-list-entry button">
            {{ user.username }}
        </button>
    {% endfor %}
{% endblock %}