{% extends "ajax/soul/shell.html.twig" %}
{% block menu_text %}
    {{ parent() }}
{% endblock %}
{% block soul_content %}
    <div class="row">
        <div class="cell padded rw-12 rw-sm-12">
            COMING SOON.
        </div>
    </div>
{% endblock %}