{% extends "ajax/soul/shell.html.twig" %}
{% block title %}{{'Ranglisten der Saison'|trans({}, 'game')|raw}}{% endblock %}
{% block menu_text %}
    {{ parent() }}
{% endblock %}
{% block soul_content %}
    <div class="row">
        <div class="cell rw-12 seasonHeader">
            {{ dump(currentSeason) }}
            <span class="seasonName">
                lol
            </span>
            <span class="seasonNumber">
                Season 15
            </span>
        </div>
    </div>
{% endblock %}