{% extends "ajax/ajax.html.twig" %}
{% block menu_text %}
    {{ parent() }}
    {% if app.user and not app.user.activeCitizen %}
        <li class="town-dash" x-ajax-href="{{ url('ghost_welcome') }}">{% trans from 'global' %}Spiel{% endtrans %}</li>
    {% endif %}
{% endblock %}
{% block ajax %}
    <div class="row soul">
        <div class="cell padded header rw-8">
            {% embed "ajax/soul/tabs.html.twig" %}{% endembed %}
            <div class="row">
                <div class="cell padded rw-4 rw-sm-12">
                    E-Mail
                </div>
                <div class="cell padded rw-8 rw-sm-12">
                    {{ app.user.email }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}