{% block ajax %}
    {% for user in users %}
        <div class="users-list-entry">
        <button x-ajax-href="{{ url('soul_visit', {id: user.id}) }}" x-ajax-target="#content" class="button" style="background: transparent; max-width: 225px; box-shadow: 0 0 5px black;">
            <div class="avatar small"><img alt="" src="{{ user.avatar ? user.avatar : asset('build/images/forum/empty_avatar.gif') }}" style="margin-right: 0px;"></div> {{ user.username }}
        </button>
        </div>
    {% endfor %}
{% endblock %}