{% extends "ajax/ajax.html.twig" %}
{% block ajax %}
    {# @var town \App\Entity\TownRankingProxy #}
    <div class="row soul">
        <div class="cell padded header rw-10 ro-1 rw-md-12 ro-md-0">
            <div class="row">
                <div class="cell padded rw-4">
                    <button class='inline' x-ajax-href="{{path('soul_visit', {id: user.id})}}"><img src="{{asset('build/images/soul/small_back.gif')}}" alt ="" /> {{'Zurück'|trans({}, 'global')}}</button>
                </div>
            </div>
            {% include 'ajax/soul/view_town_content.html.twig' %}
        </div>
    </div>
{% endblock %}