{% block html %}
    <li class="text">{{'Rucksack'|trans({}, 'game')}}</li>
    {% set cc = 0 %}
                {% for item in rucksack.items|sort((a,b) => b.essential <=> a.essential ?: b.prototype.sort <=> a.prototype.sort ?: a.prototype.id <=> b.prototype.id ) %}
                    {% embed "ajax/game/item.html.twig" with {'item': item, 'no_id': true, 'class': cc < 10 ? '' : 'over'} %}{% endembed %}
                    {% set cc = cc+1 %}
                {% endfor %}
                {% if rucksack.items|length < rucksack_size %}
                    {% for i in range(0, rucksack_size - rucksack.items|length - 1)%}
                        <li class="free {% if cc >= 10 %}over{% endif %}"></li>
                        {% set cc = cc+1 %}
                    {% endfor %}
                {% endif %}
    <li class="more">
        <img src="{{ asset("build/images/icons/small_more2.gif") }}" alt="+" />
    </li>
{% endblock %}