@import (once) "../theme";

.app-directory {
  position: absolute;
  top: 10px; left: 10px;
  padding: 0 5px;
  background-color: #5c2b20;
  outline: 1px solid black;
  border: 1px solid #f0d79e;
  color: #f0d79e;
  z-index: 998;
  overflow: hidden;

  min-height: 21px; min-width: 28px;
  &.open { height: auto; width: auto }
  &.closed { height: 0; width: 0; }

  .app-icon {
    position: absolute; top: 1px; left: 5px;
  }

  .app-listing-body {
    width: 430px; max-width: calc(100vw - 32px);

    h4 {
      margin: 0; padding: 2px 0 3px 27px;
      height: auto; font-size: 1.2rem;
      text-transform: none; font-variant: small-caps;
      background: none;
      line-height: 17px;
      font-family: @myhordes-font;
      letter-spacing: 1px;
      border-bottom: 1px solid #b37c4a;
    }

    p { color: white; font-size: 1.3rem; }

    hr { height: 1px; background: #ddab76; border: none }

    ul {
      display: grid; padding: 0; margin: 0;
      grid-template-columns: 1fr 1fr;
      gap: @myhordes-grid-padsize-small;

      &>li {
        display: flex; gap: @myhordes-grid-padsize;
        align-items: center;
        padding: 4px 2px;
        cursor: pointer;
        font-size: 1.3rem;

        &>* {
          &:first-child { flex: none; line-height: 0 }
          &:not(:first-child) { flex: 1 1 auto; }
        }

        transition: all 0.5s ease-in-out;
        &:hover { background: rgba(221, 171, 118, 0.25); color: white; box-shadow: 0 0 3px rgba(0,0,0,0.3); }

        .label {
          display: flex; flex-direction: column; gap: 1px;
          &>:not(.name) {
            font-size: 0.6em; font-variant: small-caps;
          }
        }

        &.maintenance {
          img { filter: grayscale(100%); }
          color: #b8b8b8;
          font-style: italic;
        }
      }
    }

  }

  &.closed .app-listing-body { opacity: 0; pointer-events: none }
}

.external-app {
  span.critical {
    text-transform: uppercase;
    color: #f86;
    font-weight: bold;
    b {
      color: #f8eacb;
    }
  }

  strong { color: white; }

  .secure, .dev {

    h5 { margin-top: 0 }

    padding: 5px 5px 5px 24px;
    margin: 5px 0;
    font-size: 9pt;
    color: white;
    background-position: 2px 5px;
    background-repeat: no-repeat;

    &.secure {
      background-color: #696486;
      background-image: url("../../img/icons/lock.gif");
    }

    &.dev {
      background-color: #773939;
      background-image: url("../../img/icons/small_dev.png");
    }
  }

  ul {
    font-size: 1.2rem;
    padding-left: 16px;
  }

  .forms {
    display: flex; flex-direction: column; gap: @myhordes-grid-padsize-small;
  }

  button {
    font-variant: small-caps;
    font-weight: normal;
  }
}

.mod-directory {
  position: absolute;
  top: 10px; left: 60px;
  overflow: hidden;
  z-index: 997;
  min-height: 13px;

  span {
    display: block;
    padding: 0 5px 0;
    font-size: 7pt;
    line-height: 8pt;
    text-transform: uppercase;
    letter-spacing: 0;
    background-color: #5c2b20;
    color: #f0d79e;
    cursor: pointer;
    outline: 1px solid black;
    border: 1px solid #f0d79e;
  }

  ul {
    list-style: none; margin: 0; padding: 0; display: flex; flex-direction: column; overflow: visible;
    li {
      background: #3b3249; padding: 4px 26px; margin: 0;
      font-size: 1.3rem;
      color: #ddab76;
      cursor: pointer;

      transition: all 0.5s ease-in-out;
      &:hover { background: #4c3f60; color: white; box-shadow: 0 0 3px rgba(0,0,0,0.3); }
    }
  }

  &.closed ul { max-height: 0; }
}

.game-clock {
  position: absolute; background: url("../../img/background/clock.png"); width: 260px; height: 90px;
  top: 4px; right: 0;

  &>div {
    display: block; position: absolute; font-size: 1rem; text-align: right;

    &.town-name { color: @myhordes-smalltext; height: 12px; top: 9px; left: 0; right: 75px; font-variant: small-caps }
    &.town-day { color: #704018; font-weight: bold; height: 12px; top: 25px; left: 0; right: 85px; }
    &.town-time { text-align: center; top: 32px; left: 195px; right: 25px; cursor: help; z-index: 995; }
    &.attack-time { color: #5e0000; text-align: center; font-weight: bold; top: 58px; left: 195px; right: 25px; cursor: help; z-index: 995; }

    .hardcore { color: lighten(#7c2727, 10%); font-variant: small-caps; }
  }
}

.game-logout {
  position: absolute; background: url("../../img/icons/b_exit.png"); width: 22px; height: 22px;
  top: 0; right: 0; z-index: 998;

  &>a { display: block; width: 100%; height: 100%; }
}