@import (once) "../theme";

.forum-preview {
  font-weight: bold; font-size: 1.1em; padding: 10px; border-radius: 10px; margin: 10px;
  background: url("../../img/forum.png") top center repeat-x; cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.5); background-position-y: -2px; border: 2px solid transparent;
  transition: border-color 0.5s ease-in-out, box-shadow 0.25s ease-in-out;
  &:hover { border-color: @myhordes-smalltext; box-shadow: 0 0 10px rgba(0,0,0,0.8); }
}

@myhordes-forum-button-color:  #a2321a;
@myhordes-forum-button-border: #c33720;

.forum-control {
  &>b:first-child { display: block; background: #321914; padding: 4px; }
  font-size: 11px;
  background: #3c2018; box-shadow: 0 0 5px rgba(0,0,0,0.2);  padding: 0 0 5px;
}

.forum-note {
  &>b:first-child { display: block; background: #804d2f; padding: 4px; }
  font-size: 11px; background: #8a5432; box-shadow: 0 0 5px rgba(0,0,0,0.2);  padding: 0 0 5px;
  border: 1px solid #704328;
}

.forum-post {
  background: #8a5432; box-shadow: 0 0 5px rgba(0,0,0,0.2);  padding: 0;
  border: 1px solid #704328; margin-bottom: 10px;
  &>.forum-post-header {
    display: block; background: #804d2f; padding: 4px;
    &>b { padding: 5px; }
    &>i { float: right; font-size: 0.8em; }
    &>span { font-size: 0.8em; opacity: 0.5; float: right }
    &:before, &:after {content: " "; clear: both;}
    &:before { display: table;}
    &:after {display: block; height: 0;}
  }
  &>.forum-post-content {
    padding: 25px; max-height: 750px; overflow: auto;
    background-color: #4a261e;
    b {
      color: #afb3cf;
    }
    i {
      color: #f0d79e;
    }
    strike {
      color: #cc3300;
    }
  }
}

.forum-editor {
  background: #8a5432; box-shadow: 0 0 5px rgba(0,0,0,0.2);  padding: 0 0 5px;
  border: 1px solid #704328; margin: 10px 0;

  &>.forum-editor-header {
    display: block; background: #804d2f; padding: 4px;
    &>b { padding: 5px; }
    &>i { float: right; font-size: 0.8em; }
  }

  div[contentEditable="true"] {
    height: 250px; border: 1px solid #704328; padding: 5px 25px; overflow: auto; outline: 0 solid transparent;
  }
}

.forum-post >.forum-post-content, .forum-editor div[contentEditable="true"] {
  hr { border-color: @myhordes-smalltext }
}

.forum-button-bar { margin: 5px 0; padding: 0 5px; }

.forum-button {
  display: inline-block; padding: 2px 5px; font-size: 10px; background: @myhordes-forum-button-color;
  border: 1px solid @myhordes-forum-button-border;
  color: white; cursor: pointer;
  &:hover { background: @myhordes-forum-button-border; }

  &[x-text-control-node] {
    padding: 0;
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    width: 30px;
    text-align: center;
  }
}


.forum-thread {
  padding: 5px; cursor: pointer; position: relative;
  &>div { float: right; font-size: 1.3em; }
  &:nth-child(2n) { background: rgba(0,0,0,0.05) }
  &.selected { background: rgba(255, 160, 57, 0.39) }
  &.forum-thread-unread {
    padding-left: 18px;
    &:before {
      display: block; content: " "; width: 8px; height: 8px; border-radius: 4px; top: 9px; left: 5px;
      background: #ffbf00; border: 1px solid #212121; box-shadow: 0 0 3px rgba(0,0,0,0.1); position: absolute;
    }
  }
}