.soul {
	.tabs {
		font-size: 12px;
		color: #ddab76;
		border-bottom: 1px solid #ddab76;
		background-color: #5c2b20;

		h4.soul-name {
			margin: 2px 4px;
		}
		.tab {
			.tab-link {
				display: block;
				text-align: center;
				margin: 4px 2px 0;
				padding: 2px 4px;
				border: 1px solid #ddab76;
				border-bottom: none;
				background-color: #7e4d2a;
				cursor: pointer;
				text-decoration: none;
			}
		}
	}
	.distinctions {
		max-width: 240px;
		background: url("../../img/soul/rewardsBg_header.gif") top/cover no-repeat;
		padding-bottom: 0 !important;

		.distinctions-head {
			padding-top: 45px;
			color: #f0d79e;
			font-variant: small-caps;
			font-weight: bold;
			font-size: 20px;
		}

		.distinctions-list {
			padding: 0 10px;
			min-height: 100px;
			.overall {
				color: #FF8866;
				font-size: 24px;
				margin-top: 5px;
			}

			.empty {
				border: 1px dashed #823D2D;
				color: #FF8866;
				padding: 10px;
				font-size: 12px;
				font-style: italic;
				margin-top: 10px;
			}
		}

		.distinctions-foot {
			background: url("../../img/soul/rewardsBg_footer.gif") bottom/cover no-repeat;
			height: 44px;
			margin-top: -22px;
		}
	}

	.block {

	}

	.score, .current {
		margin-top: 6px;
		margin-bottom: 10px;
		padding: 3px;
		font-weight: bold;
		background-color: #5c2b20;
		border: 1px solid #ddab76;
		font-size: 12px;
		strong {
			color: #f0d79e;
		}
	}

	.score {
		color: #ddab76;
		font-variant: small-caps;
		strong {
			font-size: 14px;
		}
	}

	.current {
		color: #f0d79e;
		em {
			color: #ddab76;
			font-style: normal;
			font-size: 10px;
		}
		strong {
			color: #f0d79e;
			font-variant: small-caps;
		}
	}

	.town-history {
		.header {
			font-size: 10px;
			font-variant: small-caps;
			font-weight: bold;
			color: #f1ddc8;
			border-bottom: 2px solid #ddab76;
			background: linear-gradient(to top, #643b25 0%, rgba(100, 59, 37, 0) 50%, rgba(100, 59, 37, 0) 100%);
		}

		.town-container {
			background-color: #5c2b20;
			border-bottom: 1px solid #ddab76;

			.town-name {
				font-size: 12px;
			}

			.town-days {
			    color: #f0d79e;
			}

			.town-points {
				color: #afacc1;
			}

			.empty {
				font-size: 12px;
				margin-top: 5px;
				padding: 5px;
				font-variant: small-caps;
				color: #f86;
				font-weight: bold;
			}

			.hardcore {
				background-color:#773939;
				.town-name,
				.town-days {
					color: #f86;
				}
			}
		}
	}

	input {
		width: 100%;
	}
}