@import (once) "../theme";

div.town-banner {
  background: black; border: 1px solid #b18a63; height: 80px; background-size: cover;

  &.town-banner-home {
    background: url("../../img/home.jpg") center/cover no-repeat;
    &.night { background: url("../../img/night_home.jpg") center/cover no-repeat; }
  }

  &.town-banner-well {
    background: url("../../img/well.jpg") center/cover no-repeat;
    &.night { background: url("../../img/night_well.jpg") center/cover no-repeat; }
  }

  &.town-banner-bank {
    background: url("../../img/bank.jpg") center/cover no-repeat;
    &.night { background: url("../../img/night_bank.jpg") center/cover no-repeat; }
  }

  &.town-banner-houses {
    background: url("../../img/houses.jpg") center/cover no-repeat;
    &.night { background: url("../../img/night_houses.jpg") center/cover no-repeat; }
  }

  &.town-banner-visit {
    background: url("../../img/visit.jpg") center/cover no-repeat;
    &.night { background: url("../../img/night_visit.jpg") center/cover no-repeat; }
  }

  &.town-banner-construction {
    background: url("../../img/construction.jpg") center/cover no-repeat;
    &.night { background: url("../../img/night_construction.jpg") center/cover no-repeat; }
  }

  &.town-banner-door-open {
    background: url("../../img/city_open.jpg") center/cover no-repeat;
    &.night { background: url("../../img/night_city_open.jpg") center/cover no-repeat; }
  }

  &.town-banner-door-closed {
    background: url("../../img/city.jpg") center/cover no-repeat;
    &.night { background: url("../../img/night_city.jpg") center/cover no-repeat; }
  }
}

.town-menu {
  font-weight: bold;
  color: @myhordes-cell-header-text-color;
  font-variant: small-caps;
  &>.cell {
    &>div:first-child { width: 100%; padding-top: 55.1724138% }
    &>div:last-child {
      font-size: 1.1rem; padding: 1px 4px; background: @myhordes-cell-header-background-color; height: 20px;
      &>img { vertical-align: bottom };
    }
    cursor: pointer;
    &:hover {
      &>div:last-child { color: @myhordes-input-border; }
      outline: 1px solid @myhordes-input-border;
    }
    &.selected {
      &>div:first-child { filter: contrast( 120% ) brightness( 120% ); }
      &>div:last-child { background: lighten(@myhordes-cell-header-background-color, 10%);color: @myhordes-input-border; };
    }
  }
  &:not(.night)>.town-menu-house>div:first-child { background: url("../../img/menu_home.gif") center/cover no-repeat }
  &:not(.night)>.town-menu-well>div:first-child { background: url("../../img/menu_well.gif") center/cover no-repeat }
  &:not(.night)>.town-menu-bank>div:first-child { background: url("../../img/menu_bank.gif") center/cover no-repeat }
  &:not(.night)>.town-menu-citizens>div:first-child { background: url("../../img/menu_houses.gif") center/cover no-repeat }
  &:not(.night)>.town-menu-construct>div:first-child { background: url("../../img/menu_construction.gif") center/cover no-repeat }
  &:not(.night)>.town-menu-door>div:first-child { background: url("../../img/menu_door.gif") center/cover no-repeat }
  &.night>.town-menu-house>div:first-child { background: url("../../img/menu_home_night.gif") center/cover no-repeat }
  &.night>.town-menu-well>div:first-child { background: url("../../img/menu_well_night.gif") center/cover no-repeat }
  &.night>.town-menu-bank>div:first-child { background: url("../../img/menu_bank_night.gif") center/cover no-repeat }
  &.night>.town-menu-citizens>div:first-child { background: url("../../img/menu_houses_night.gif") center/cover no-repeat }
  &.night>.town-menu-construct>div:first-child { background: url("../../img/menu_construction_night.gif") center/cover no-repeat }
  &.night>.town-menu-door>div:first-child { background: url("../../img/menu_door_night.gif") center/cover no-repeat }
}
.header-menu-chaos { background: url('../../img/chaos.gif') center/100% no-repeat; width: 100%; height: 60px; }

.row > .cell.town-addons {
  font-weight: bold; color: @myhordes-cell-header-text-color; font-variant: small-caps; display: flex;
  align-items: stretch; justify-content: space-evenly;

  & > .town-addon {
    height: 55px; width: 40px; flex-basis: 40px; flex-grow: 0; overflow: hidden;
    flex-shrink: 0; font-size: 1.1rem; padding: 0; cursor: pointer;
    margin: 3px; background-color: @myhordes-cell-header-background-color;

    &:nth-child(n+7) { display: none; }

    & > div {
      padding: 0; margin: 0; background-repeat: no-repeat; background-position: center; background-size: cover;
      height: 40px; width: 40px;
    }

    &:not(.selected):not(.town-addon-empty):hover > div {
      filter: brightness(120%);
      cursor: pointer;
    }

    &.selected {
      background: lighten(@myhordes-cell-header-background-color, 10%);
      filter: contrast(120%) brightness(120%);
      outline: 1px solid @myhordes-input-border;
    }

    & > span {
      display: block; padding: 1px 2px; text-align: center; text-overflow: ellipsis;
      line-height: 13px; height: 15px; font-size: 1rem; overflow: hidden;
    }

    &.town-addon-empty {
      background-color: transparent;
      &:hover > div, &:hover > span, &:hover { outline: none; cursor: initial; }

      & > div {
        height: 36px; width: 36px; margin: 2px;
        border: 1px dotted @myhordes-cell-header-background-color;
        background: repeating-linear-gradient( -45deg, #7e4a31 4px, #693e29 8px );
      }
    }

    &.town-addon-upgrade > div {
      background-image: url("../../img/smenu_upgrades.gif");
    }
    &.town-addon-workshop > div {
      background-image: url("../../img/smenu_workshop.gif");
    }
    &.town-addon-watchtower > div {
      background-image: url("../../img/smenu_tower.gif");
    }
    &.town-addon-battlement > div {
      background-image: url("../../img/smenu_watch.gif");
    }
    &.town-addon-dump > div {
      background-image: url("../../img/smenu_decharge.gif");
    }
    &.town-addon-catapult > div {
      background-image: url("../../img/smenu_catapult.gif");
    }
  }
}

.town-buildings {
  &>ul{
    background-color: #3e2417;
    list-style-type: none;
    font-size: 1.1rem;
    background-image: url("../../img/log/home.gif");
    background-repeat: no-repeat;;
    background-position: 4px 2px;
    &>li {
      padding-bottom: 5px;
      &>em {
        color: #e7c48f;
        padding-left: 20px;
        font-style: normal;
      }
    }
  }
}

.watchtower-prediction {
  display: flex;
  flex-wrap: wrap;

  &>* {
    flex-basis: 100%;
  }
  & p {
    text-align: center;
  }
  & .watchtower-prediction-bar {
    margin-top: .25em;
    height: 1.25em;
    border: 1px solid #ddab76;
    background-color: #773939;
    position: relative;

    & > * {
      height: calc(100% - 2px);
      position: absolute;
      top: 1px;
      left: 1px;
    }
    & .watchtower-prediction-progress {
      background-color: #5c2b20;
    }

    & .watchtower-prediction-text {
      min-width: 4em;
      color: #ddab76;
      line-height: 1.25em;
      text-align: center;
      font-size: 1rem;
    }
  }
}

.citizens-list {
  .row:not(.header):hover {
    outline: 1px solid #EFDBAB;
  }

  .row.me {
    background-color: #25242c !important;
  }
}

.prof-list {
  margin-top: 10px;
  div {
    font-size: 1.2rem;
    background-color: #5c2b20;
  }
}

.citizen-chest {
  &>p {
    margin-top: 0;
    font-size: 1.2rem;
  }
}

.buildings {
  button {
    min-height: 20px;
  }
}

.dashboard {
  padding: 5px; background: @myhordes-cell-header-background-color; margin: 10px 0;
  border: 1px solid darken(@myhordes-cell-header-background-color, 5%); color: @myhordes-smalltext;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  font-size: 1.2rem;
  .attack-estimation, .deco-estimation {
    border-left:1px dashed #fff;
    border-right:1px dashed #fff;
  }

  em {
    color: @myhordes-cell-header-text-color;
  }

  .counter {
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
  }
}

.words-of-heroes {
  min-height: 260px;
  padding: 5px;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-image: url('../../img/cityBoard.png');

  .content {
    padding: 40px 10px 0 5px;
    height: 230px;
    max-height: 230px;
    overflow: auto;
    color: #E4E3E8;
    font-size: 1.5rem;
    line-height: 11pt;
    font-style: italic;
    font-weight: bold;
    font-family: "Trebuchet MS", "Arial",Verdana, sans-serif;
    textarea, textarea:focus {
      width: 100%;
      overflow: hidden;
      background: #3b3249;
      border: 1px dashed #696486;
      color: #E4E3E8;
      font-size: 1.5rem;
      line-height: 11pt;
      font-style: italic;
      font-weight: bold;
      font-family: "Trebuchet MS", "Arial",Verdana, sans-serif;
      outline: none;
      padding: 0;
    }
  }
  .edit, .cancel {
    max-width: 240px;
    text-align: right;
    font-size: 1.2rem;
    color: #ddab76;
    .disabled {
      text-decoration: line-through;
      font-weight: normal;
      color: grey;
    }
  }
}

.overview-list, .overview-checklist {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.4rem;
  background-color: #996739;
  strong {
    color: white;
  }

  .separator {
    margin-top: 7px;
    padding-top: 5px;
    border-top: 1px solid #f0d79e;
  }
}

.overview-checklist {
  list-style: none;
  padding-left: 10px;
  li {
    padding-left: 20px;
    background: url("../../img/tickOff.gif") 5px 5px no-repeat;
    &:hover {
      text-decoration: underline;
      color: @myhordes-smalltext;
      cursor: pointer;
    }
  }
  li.checked {
    background: url("../../img/tickOn.gif") 5px 5px no-repeat;
    text-decoration: line-through;
    font-style: italic;
    color: #b37c4a;
    &:hover {
      text-decoration: underline line-through;
      color: @myhordes-smalltext;
      cursor: pointer;
    }
  }
}

.overview-list {
  list-style: url("../../img/small_dot.gif");
  padding-left: 20px;
  .warning {
    color: #f86;
  }
}

.defense-detail {
  em {
    font-size: 1.2rem;
    color: @myhordes-smalltext;
  }
}

.gossips {
  margin-top: 5px;
  list-style: url('../../img/small_dot.gif');
  padding-left: 20px;
  font-size: 1.3rem;
  background-color: #926739;
}