@import (once) "../theme";

.town-menu {
  &>.cell {
    &>div:first-child { width: 100%; padding-top: 55.1724138% }
    &>div:last-child {
      font-size: small; padding: 1px 4px; background: @myhordes-cell-header-background-color; height: 20px;
      &>img { vertical-align: bottom };
    }
    &:not(.selected):hover {
      &>div:last-child { color: @myhordes-input-border; }
      outline: 1px solid @myhordes-input-border; cursor: pointer;
    }
    &.selected {
      &>div:first-child { filter: contrast( 120% ) brightness( 120% ); }
      &>div:last-child { font-weight: bold; background: lighten(@myhordes-cell-header-background-color, 10%) };
    }
  }
  &>.town-menu-house>div:first-child { background: url("../../img/menu_home.gif") center/cover no-repeat }
  &>.town-menu-well>div:first-child { background: url("../../img/menu_well.gif") center/cover no-repeat }
  &>.town-menu-bank>div:first-child { background: url("../../img/menu_bank.gif") center/cover no-repeat }
  &>.town-menu-citizens>div:first-child { background: url("../../img/menu_houses.gif") center/cover no-repeat }
  &>.town-menu-construct>div:first-child { background: url("../../img/menu_construction.gif") center/cover no-repeat }
  &>.town-menu-door>div:first-child { background: url("../../img/menu_door.gif") center/cover no-repeat }
}

.town-addons {
  &>.cell {

    &>div {
      &:after { clear: both; content: " "; display: block; }
      padding: 0; margin: 0; background: @myhordes-cell-header-background-color;
    }

    &>div>div:first-child {
      &>div:first-child { width: 40px; height: 40px; display: inline-block; float: left }
      &>span:last-child { display: block; padding: 4px; margin-left: 40px; text-align: center}
      font-size: small; padding: 0; cursor: pointer;
    }
    &:not(.selected):hover>div {
      &>div:first-child { color: @myhordes-input-border; }
      outline: 1px solid @myhordes-input-border; cursor: pointer;
    }
    &.selected>div {
      background: lighten(@myhordes-cell-header-background-color, 10%);
      &>div:first-child {
        &>div:first-child { filter: contrast( 120% ) brightness( 120% ); }
        &>span:last-child { padding: 1px 4px; height: 40px; }
        font-weight: bold; ;
      };
    }

    &.town-addon-upgrade >div>div:first-child>div:first-child { background: url("../../img/smenu_upgrades.gif") center/cover no-repeat }
    &.town-addon-workshop>div>div:first-child>div:first-child { background: url("../../img/smenu_workshop.gif") center/cover no-repeat }
    &.town-addon-watchtower>div>div:first-child>div:first-child { background: url("../../img/smenu_tower.gif") center/cover no-repeat }
  }
}