
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.env.deploy
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/var
/vendor/
symfony.lock
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
.phpunit.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
/public/service/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

# yarn
/.yarn/cache
/.yarn/unplugged
/.yarn/install-state.gz

# Composer
composer.phar
composer.dist.json
# composer.lock

# Local webpack config
webpack.config.local.js
webpack.config.deploy.js

# Local app configs
config/packages/dev/app/*.yml
config/packages/prod/app/*.yml
etwin.toml
rector.php

# Dynamic templates
templates/build/*

# Misc
.DS_Store
.vscode/
.idea/

*:Zone.Identifier
.vslist
