<div id="tooltip_container"></div>
<div id="loadzone" x-stack="0">
    <div></div>
</div>
<div id="modal-backdrop">
    <div id="modal">
        <div id="modal-title"></div>
        <div id="modal-content"></div>
        <div id="modal-actions"></div>
    </div>
</div>