<div class="flex wrap" style="column-gap: 16px; row-gap: 4px; justify-content: center">
    <a href="https://alphabounce.eternaltwin.org/" target="_blank">AlphaBounce</a>
    <a href="https://neoparc.eternaltwin.org/" target="_blank">Neoparc</a>
    <a href="https://epopotamo.eternaltwin.org/" target="_blank">ePopotamo</a>
    <a href="https://kingdom.eternaltwin.org/" target="_blank">EternalKingdom</a>
    <a href="https://emush.eternaltwin.org/" target="_blank">eMush</a>
    <a href="https://directquiz.org/" target="_blank">Directquiz</a>
    <a href="https://dinocard.eternaltwin.org/" target="_blank">Dinocard Rebirth</a>
    <a href="https://eternalfest.net/" target="_blank">Eternalfest</a>
    <a href="https://brute.eternaltwin.org/" target="_blank">{{ 'My Brute'|trans({},'global') }}</a>
    <a href="https://dinorpg.eternaltwin.org/" target="_blank">DinoRPG</a>
</div>