<div class="row">
    <div class="cell rw-12 fact hide-sm" style="padding-left: 35px;">
        {{ fact.content }} - <span class="author"> {{ fact.author }}</span>
    </div>
    <div class="cell rw-12 fact hide-md hide-lg hide-desktop scrolling">
        <div id="scroll-text">
            {{ fact.content }} - <span class="author"> {{ fact.author }}</span>
        <div>
    </div>
</div>