{% extends "ajax/ajax.html.twig" %}
{% block ajax %}
    <div class="row">
        <div class="cell padded header rw-8 ro-2 rw-lg-12 ro-lg-0">
            <h4>{% trans from 'login' %}Einloggen{% endtrans %}</h4>
            <p class="justify">
                {% trans from 'login' %}Bitte gib deinen Spielernamen und dein Passwort ein.{% endtrans %}
            </p>
            <form id="login-form">
                <div class="row">
                    <div class="cell padded-small rw-6 rw-md-12"><b><label for="login-name">{% trans from 'login' %}Spielername{% endtrans %}</label></b></div>
                    <div class="cell padded-small rw-6 rw-md-12"><input name="login_user" id="login-name" type="text" /></div>
                </div>
                <div class="row">
                    <div class="cell padded-small rw-6 rw-md-12"><b><label for="login-password">{% trans from 'login' %}Passwort{% endtrans %}</label></b></div>
                    <div class="cell padded-small rw-6 rw-md-12"><input name="login_pass" id="login-password" type="password" /></div>
                </div>
                <div class="row">
                    <div class="cell padded-small rw-6 ro-6 rw-md-12 ro-md-0">
                        <button id="login_button">{% trans from 'login' %}Einloggen{% endtrans %}</button>
                    </div>
                </div>
            </form>
            <p class="right small">
                {% trans from 'login' %}Du hast noch keinen Account?{% endtrans %}
                <a href="" x-ajax-href="{{ path('public_register') }}">{% trans from 'login' %}Registrieren!{% endtrans %}</a>
            </p>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        document.getElementById('login_button').addEventListener('click', function(e) {
            e.preventDefault();
            $.ajax.easySend( '{{ path('api_login') }}', $.html.serializeForm(document.getElementById('login-form')),
                function (data) {
                    if (data.require_validation) $.ajax.load(null, '{{ path('public_validate') }}', true);
                    else $.ajax.load(null, '{{ path('initial_landing') }}', true);
                }, {'default': '{% trans from 'login' %}Login fehlgeschlagen. Bitte prüfe deine Eingaben.{% endtrans %}'} )
        });
    </script>
{% endblock %}