html.lang-base-en #wrapper > #header { background-image: url('../img/bg_content_header_en.jpg'); }
html.lang-base-fr #wrapper > #header { background-image: url('../img/bg_content_header_fr.jpg'); }
html.lang-base-es #wrapper > #header { background-image: url('../img/bg_content_header_es.jpg'); }

html.lang-base-en .words-of-heroes { background-image: url('../img/cityBoard_en.png'); }
html.lang-base-fr .words-of-heroes { background-image: url('../img/cityBoard_fr.png'); }
html.lang-base-es .words-of-heroes { background-image: url('../img/cityBoard_es.png'); }

html.lang-base-en .menu-header-chaos { background-image: url('../img/chaos_en.gif'); }
html.lang-base-fr .menu-header-chaos { background-image: url('../img/chaos_fr.gif'); }
html.lang-base-es .menu-header-chaos { background-image: url('../img/chaos_es.gif'); }

html.lang-base-en div.ap::after { background-image: url('../img/ap_small_en.gif'); }
html.lang-base-fr div.ap::after { background-image: url('../img/ap_small_fr.gif'); }
html.lang-base-es div.ap::after { background-image: url('../img/ap_small_es.gif'); }
html.lang-base-de div.ap::after { background-image: url('../img/ap_small.gif'); }

html.lang-base-en div.game-bar ul.ap li::before { content: url('../img/ap_small_en.gif'); }
html.lang-base-fr div.game-bar ul.ap li::before { content: url('../img/ap_small_fr.gif'); }
html.lang-base-es div.game-bar ul.ap li::before { content: url('../img/ap_small_es.gif'); }
html.lang-base-de div.game-bar ul.ap li::before { content: url('../img/ap_small.gif'); }

html.lang-base-en div.game-bar ul.bp li::before { content: url('../img/pc_small_en.gif'); }
html.lang-base-fr div.game-bar ul.bp li::before { content: url('../img/pc_small_fr.gif'); }
html.lang-base-es div.game-bar ul.bp li::before { content: url('../img/pc_small_es.gif'); }
html.lang-base-de div.game-bar ul.bp li::before { content: url('../img/pc_small.gif'); }