@import (once) "grid";

@myhordes-font: 'Open Sans',sans-serif;

@myhordes-background: url(../img/bg_colored.jpg) top center no-repeat, #100C0B;

@myhordes-content-width: 950px;
@myhordes-content-background: url(../img/bg_content.jpg) left repeat-y;

@myhordes-content-header-background: url(../img/bg_content_header.jpg) left no-repeat;
@myhordes-content-header-height: 305px;
@myhordes-content-header-margin: -95px;

@myhordes-content-footer-background: url(../img/bg_content_footer.gif) left no-repeat;
@myhordes-content-footer-height: 15px;
@myhordes-content-footer-margin: 15px;

@myhordes-panel-color: white;
@myhordes-panel-bg: #7e4d2a;
@myhordes-panel-border: url("../img/panel_00.gif") top left no-repeat, url("../img/panel_02.gif") top right no-repeat,
                        url("../img/panel_20.gif") bottom left no-repeat, url("../img/panel_22.gif") bottom right no-repeat,
                        url("../img/panel_01.gif") top left repeat-x, url("../img/panel_10.gif") top left repeat-y,
                        url("../img/panel_12.gif") top right repeat-y, url("../img/panel_21.gif") bottom left repeat-x;

@myhordes-cell-header-background-color: #552012;
@myhordes-cell-header-text-color: #EFA168;

@myhordes-button-background: url('../img/bg_button.gif') center repeat;
@myhordes-button-color: #F0D79E;
@myhordes-button-border: black;

@myhordes-input-background: url('../img/bg_input.jpg') bottom center repeat;
@myhordes-input-color: #3B3249;
@myhordes-input-border: #EFDBA8;

@myhordes-smalltext: #DDAB76;

body {
  font-family: @myhordes-font; background: @myhordes-background; margin: 0;
}

#wrapper {
  position: relative; margin: 0 auto; padding: 0; width: @myhordes-content-width; overflow: visible;
  background: @myhordes-content-background; box-shadow: 0 0 20px black;

  &>#header {
    background: @myhordes-content-header-background; height: @myhordes-content-header-height;
    margin: 0 0 @myhordes-content-header-margin;
  }

  &>#content {
    margin: 0 5px 0 17px;
    &>.row>.cell,&>noscript>.row>.cell {

      &.header>h4:first-child {
        &+*::before { content: " "; display: block; height: 24px; }
        position: absolute; left: 0; top: 0; right: 0; background: @myhordes-cell-header-background-color; margin: 0;
        color: @myhordes-cell-header-text-color; padding: 5px;
        box-shadow: 0 0 3px black, inset 0 0 3px lighten(@myhordes-cell-header-background-color, 20%);
        font-variant: small-caps;
      }

      &.padded       { padding: 12px + @myhordes-grid-padsize; }
      &.padded-small { padding: 12px + @myhordes-grid-padsize-small; }
      &.padded-none, &:not(.padded):not(.padded-small)  { padding: 12px; }

      background: @myhordes-panel-border, @myhordes-panel-bg; color: @myhordes-panel-color;
    }
  }

  &::after {
    content: " "; display: block; position: relative;
    bottom: -@myhordes-content-footer-height;
    background: @myhordes-content-footer-background; height: @myhordes-content-footer-height;
  }
}

button {
  height: 25px; background: @myhordes-button-background; color: @myhordes-button-color; font-weight: bold;
  border: 1px solid @myhordes-button-border; border-bottom-width: 2px; outline: 1px solid rgba(0,0,0,0);
  transition: outline-color 0.5s; box-shadow: 0 0 2px black; padding: 0 24px 0;

  &:hover,&:focus { outline-color: @myhordes-button-color; color: lighten(@myhordes-button-color, 50%); }
  &:active { border-bottom-width: 1px; border-top-width: 2px; }
  &.inline { padding: 0 24px 0; }
  &:not(.inline) { display: block; width: 100%; }
}

input[type='text'],input[type='password'],input[type='email'] {
  transition: outline-color 0.5s; outline: 1px solid rgba(0,0,0,0);
  background: @myhordes-input-background; border: 1px solid @myhordes-input-border; height: 25px;

  &:not(.inline) { display: block; width: 100%; }
  &:focus { outline-color: @myhordes-input-border; }
  &:invalid,&.invalid { box-shadow: 0 0 4px red; }
}

a { color: @myhordes-smalltext; font-weight: bold; }

.town-menu {
  &>.cell {
    &>div:first-child { width: 100%; padding-top: 55.1724138% }
    &>div:last-child { font-size: small; padding: 1px 4px; background: @myhordes-cell-header-background-color }
    &:not(.selected):hover {
      &>div:last-child { color: @myhordes-input-border; }
      outline: 1px solid @myhordes-input-border; cursor: pointer;
    }
    &.selected {
      &>div:first-child { filter: contrast( 120% ) brightness( 120% ); }
      &>div:last-child { font-weight: bold; background: lighten(@myhordes-cell-header-background-color, 10%) };
    }
  }
  &>.town-menu-house>div:first-child { background: url("../img/menu_home.gif") center/cover no-repeat }
  &>.town-menu-well>div:first-child { background: url("../img/menu_well.gif") center/cover no-repeat }
  &>.town-menu-bank>div:first-child { background: url("../img/menu_bank.gif") center/cover no-repeat }
  &>.town-menu-citizens>div:first-child { background: url("../img/menu_houses.gif") center/cover no-repeat }
  &>.town-menu-construct>div:first-child { background: url("../img/menu_construction.gif") center/cover no-repeat }
  &>.town-menu-door>div:first-child { background: url("../img/menu_door.gif") center/cover no-repeat }
}

ul.inventory {
  border: 1px solid @myhordes-input-border; padding: 6px; font-size: small; font-variant: small-caps;
  &>li {
    &:not(.category) { display: inline-block; border: 1px solid @myhordes-input-border;}
    &.category { font-size: 10px; font-weight: bold; border-bottom: 1px solid @myhordes-input-border; }
    list-style: none;  margin: 2px;
    vertical-align: text-bottom;
    &.title:first-child {
      &:empty {display: none}
      background: @myhordes-cell-header-background-color; padding: 2px 6px;
    }
    &.item { border-color: rgba(0,0,0,0); }
    &.item:not(.locked) { cursor: pointer; }
    &.free, &.item { height: 18px; }
    &.free, &.item:not(.counted) { width: 18px; }
    &.item.counted{
      font-size: 0;
      &>span { font-size: 9px; position: relative; }
    }
  }
  &.rucksack { background: url("../img/inv_bag.gif") no-repeat top left;}
  &.chest { background: url("../img/inv_home.gif") repeat center;}
  &.bank { background: url("../img/inv_bank.gif") repeat center; min-height: 100px;}
}

div.well {
  width: 100%; padding-top: 118.699187%; background: url("../img/well_bg.gif") no-repeat center/cover;
  position: relative;
  &>.water {
    &::after { position: absolute; content: " "; background: url('../img/well_line.gif') no-repeat center; height: 4px; top: -4px; width: 100%; }
    overflow: visible;
    position: absolute; bottom: 0; left: 0; width: 100%; height: 100%;
    background: url('../img/well_water.gif') no-repeat bottom center/cover;
  }
  &>.mask {
    position: absolute; bottom: 0; left: 0; width: 100%; height: 100%;
    background: url('../img/well_mask.gif') no-repeat center/cover;
  }
  &>.overlay {
    position: absolute; top: 50%; width: 100%; text-align: center; font-weight: bold; font-size: small;
    padding: 0 8px;
  }
}