<div class="row">
    <div class="cell padded rw-12 rw-sm-12">
        <div id="user-list-wrapper">
            <h5>{{'Suche:'|trans({}, "admin")}}</h5>
            <div><label><input type="text" id="user-search" style="margin-top: 5px" /></label><div class="tooltip help">{{ 'Gib den Pseudo des Bürgers ein.'|trans({},'soul') }}</div></div>
            <div id="user-list" style="display: block; max-width:300px"></div>
        </div>
    </div>
</div>
{% block js %}
    <script>
        let typingTimer, doneTypingInterval = 500;
        let searchBox = document.getElementById('user-search');

        const userSearchHandler = function() {
            $.ajax.background().load(
                document.getElementById('user-list'),
                '{{ path('admin_users_fuzzyfind') }}',
                false,
                {'name': searchBox.value}
            );
        };

        const userSearchHandlerUp = function () {
            clearTimeout(typingTimer);
            typingTimer = setTimeout(userSearchHandler, doneTypingInterval);
        };

        const userSearchHandlerDown = function () {
            clearTimeout(typingTimer);
        };

        searchBox.addEventListener('keyup', userSearchHandlerUp);
        searchBox.addEventListener('keydown', userSearchHandlerDown);
    </script>
{% endblock %}