{% extends "ajax/ajax.html.twig" %}

{% from "ajax/admin/widget/controls.twig" import widget_picto_creator as picto_creator, widget_picto_creator_js as picto_creator_js %}

{% block title %}{% trans from 'admin' %}Auszeichnungen{% endtrans %}{%  endblock %}
{% block ajax %}
    <div class="row soul">
        <div class="cell padded header rw-12">
            {% embed "ajax/admin/users/tabs.html.twig" %}{% endembed %}
            <div class="row">
                {% if is_granted("ROLE_ADMIN") %}
                <div class="cell rw-5 rw-sm-12 center">
                    {% include 'ajax/soul/distinctions.html.twig' with {pictos: pictos, user: user} %}
                </div>
                <div class="cell rw-5 rw-lg-7 rw-sm-12">
                    {{ picto_creator(pictoPrototypes) }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% embed "ajax/admin/users/footer.html.twig" %}{% endembed %}
{% endblock %}
{% block js %}
    {{ parent() }}
    {% if is_granted("ROLE_ADMIN") %}
        {{ picto_creator_js(path('admin_user_give_picto', {id: user.id}), path('admin_users_pictos_view', {id: user.id})) }}
    {% endif %}
{% endblock %}