{% extends "ajax/ajax.html.twig" %}
{% block ajax %}
<div class="cell padded footer-nav">
    <div class="row">
        <div class="cell padded rw-12 rw-sm-12">  
            {% embed "admin_action/footer.html.twig" %}{% endembed %}
         </div>  
    </div>
</div>
{% endblock %}