<div class="inner-notification-header">
    <strong>{{ 'Huldigt den Raben!'|trans({},'game') }}</strong>
</div>
<div class="inner-notification-content">
    <p class="small">
        {% trans from 'game' %}
            Schon von Weitem hört man Jubelschreie und Freudenrufe durch die Gassen schallen. Niemand hätte es für Möglich gehalten...
        {% endtrans %}<br />
        {% trans from 'game' %}
            Nach der Fertigstellung des Altars ist der Rabe in deiner gottverlassenen Stadt erschienen und hat in seiner unendlichen Gnade alle Verbannungen aufgehoben.
        {% endtrans %}<br />
    </p>
    <p>
        <b>{{ 'Du bist nun frei.'|trans({},'game') }}</b>
        {% trans from 'game' %}
            Der Rabe hat dir eine zweite Chance gewährt und dich von den Fesseln der Verbannung erlöst. Wie wirst du deine neugewonnene Freiheit nutzen?
        {% endtrans %}
    </p>
</div>
