<div class="inner-notification-header">
    <strong>{{ 'Du wurdest zum Reiseleiter in der Außenwelt gewählt!'|trans({},'game') }}</strong>
</div>
<div class="inner-notification-content">
    <p class="small">
        {% trans from 'game' %}
            Du wachst heute Morgen mit einem Lächeln in deinem Gesicht auf... Ein komisches Gefühl... Du verlässt dein Zelt und... die Leute salutieren dir?
        {% endtrans %}<br />
        {% trans from 'game' %}
        Was ist letzte Nacht nur passiert? Du hast wohl zu heftig gefeiert. Als du die Stadtmauer erreichst, spürst du... Ja, ja, du bist in der Tat der Ausgewählte. Der Zweifel verschwindet, als du den Blick in Richtung des Stadttors lenkst: Ein wahnsinniges Verlangen nach Abenteuer und Entdeckungen überkommt dich, was eigentlich eher untypisch ist...
        {% endtrans %}<br />
    </p>
    <p>
        <b>{{ 'Du bist nun der Reiseleiter in der Außenwelt.'|trans({},'game') }}</b>
        {% trans from 'game' %}
            Ein neuer Horizont öffnet sich für dich: Du bist nicht länger ein gewöhnlicher Bürger, sondern ein Anführer!
        {% endtrans %}
    </p>
    <p>
        {% trans with {'%guide_help%': ('<a target="_blank" href="' ~ path('help', {'name': 'guide_to_the_world_beyond'}) ~ '">' ~ 'Reiseleiter-Ratgeber'|trans({},'game') ~ '</a>')} from 'game' %}
            Schau dir am besten gleich den %guide_help% an.
        {% endtrans %}<br />
        {% trans from 'game' %}
            Es enthält alle wesentlichen Informationen, um endlich deinen überlegenen Status in den Augen aller anerkennen zu lassen...
        {% endtrans %}
    </p>
</div>
