<div class="inner-notification-header">
    <strong>{{ 'Du hast Erfahrungspunkte erhalten!'|trans({},'game') }}</strong>
</div>
<div class="inner-notification-content">
    <p>
        {{ 'In einem Rausch endloser Großzügigkeit hat {citizen} dir einige seiner Erfahrungspunkte gespendet.'|trans({citizen: citizen},'game') }}
    </p>
    <p class="small">
        {{ 'Hoffentlich hat {citizen} die Erzählungen seiner vergangenen Heldentaten nur moderat übertrieben...'|trans({citizen: citizen},'game') }}
    </p>
</div>
