{% if scout is not defined %}
    {% set scout = false %}
{% endif %}

{% if list|length > 0  %}
    <ul class="actions">
        {% for entry in list %}
            <li class="action" {% if entry.crossed %}disabled="disabled"{% else %}x-target-definition="{{ entry.id }}--camping"{% endif %}>
                <img src="{{ asset('build/images/status/status_camper.gif') }}" alt="">
                <span>{{ entry.action.name|trans({},'items') }}</span>
            </li>
        {% endfor %}

    </ul>
{% endif %}
