<ul class="inventory {% block class %}{% endblock %}">
    {% if bankmode is not defined or not bankmode %}
        <li class="title">{% block title %}{% endblock %}</li>
        {% for item in items %}
            {% embed "ajax/game/item.html.twig" with {'item': item} %}{% endembed %}
        {% endfor %}
        {% if items|length < size %}
            {% for i in range(0, size - items|length - 1) %}
                <li class="free"></li>
            {% endfor %}
        {% endif %}
    {% else %}
        {% for category,list in items %}
            <li class="category">{{ category|trans({},'items') }}</li>
            {% for entry in list %}
                {% embed "ajax/game/item.html.twig" with {'item': entry.item, 'count': entry.count} %}{% endembed %}
            {% endfor %}
        {% endfor %}

    {% endif %}
</ul>