{% extends "ajax/ajax.html.twig" %}
{% block title %}{{'Wiedergeburt: Wähle einen Beruf'|trans({}, 'game')|raw}}{% endblock %}
{% block ajax %}
    <div class="row">
        <div class="cell padded rw-4 hide-md hide-sm">
            {% set img = random(['welcome1','welcome2']) ~ (app.request.locale != 'de' ? ('_' ~ app.request.locale) : '') ~ '.jpg' %}
            <img style="width: 100%; border: 1px solid #5c2b20;" alt="" src="{{ asset('build/images/professions/select/' ~ img) }}">
        </div>
        <div class="cell padded rw-8 rw-md-12">
            <hordes-town-onboarding data-town="{{ town.id }}"></hordes-town-onboarding>
        </div>
    </div>
{% endblock %}