<div class="log" x-log-default-provided="{% if log_content is defined %}1{% else %}0{% endif %}" x-log-source="{{ log_source }}">
    <div class="log-content">
        {% if log_content is defined %}
            {{ log_content|raw }}
            {% if log_content|length > 255 %}
                <div class="log-complete-link">{{ 'Alle Einträge anzeigen'|trans({},'game') }}</div>
                <div class="log-spinner hidden"><i class="fa fa-pulse fa-spinner"></i> {{ random(['Akteneinsicht wird beantragt...','Protokolle werden analysiert...','Überwachungsapparat wird ausgewertet...','Belastende Beweise werden übermittelt...'])|trans({},'game') }}</div>
            {% endif %}
        {% endif %}
    </div>
    <div class="log-day-select"></div>
</div>