<button x-burn-citizen>
	<img alt="" src="{{ asset('build/images/item/item_torch.gif') }}" />{{ 'Die Leiche verbrennen!'|trans({},'game') }}
	<div class="tooltip help">
		{{'Die Zeremonie besteht daraus, die Leiche mit 1x <strong>Fackel</strong> zu verbrennen und dann die Asche in das Gemüsebeet zu streuen. Dadurch wird der Leichnam sofort zerstört.'|trans({}, 'game')|raw}}
	</div>
</button>