<div class="tooltip normal">
    {% if not hidden[citizen.id] or not citizen.alive %}
        {% if citizen.home.chest.items|filter(i => citizen == me or (not i.prototype.hideInForeignChest and not i.hidden))|length == 0 %}
            <em>{{ 'Leere Truhe'|trans({},'game') }}</em>
        {% else %}
            <em>{{ 'Truhe'|trans({},'game') }}</em><br />
        {% endif %}
        <ul class="inventory borderless">
            {% for item in citizen.home.chest.items|filter(i => citizen == me or (not i.prototype.hideInForeignChest and not i.hidden)) %}
                {# @var \App\Entity\Item item #}
                {% embed "ajax/game/item.html.twig" with {'item': item, 'no_tooltip': true} %}{% endembed %}
            {% endfor %}
        </ul>

    {% else %}
        <em>{{ 'Der Inhalt dieses Hauses wird durch Vorhänge an den Fenstern verdeckt...'|trans({},'game') }}</em>
    {% endif %}
</div>