{% extends "ajax/game/town/town.html.twig" %}
{% block content %}
    <div class="dashboard">
        <div class="row">
            <div class="padded cell rw-6 center">
                {{ def }} <i class="fa fa-shield-alt"></i>
            </div>
        </div>
    </div>

    <b>{{ town.name }}</b><br />
    <i>{% trans with {'%day%':town.day} from 'game' %}Tag %day%{% endtrans %}</i>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script>
    </script>
{% endblock %}