<div class="help warning">
	<b>{{ 'Achtung'|trans({},'global')}} :</b>
	{% if ap_cost > 0 %}
	{{ 'Jeder so zerstörte Gegenstand kostet dich {ap}.'|trans({'{ap}': '<div class="ap">' ~ ap_cost ~ '</div>'}, 'game')|raw }}
	<a class="help-button"><div class="tooltip help">{{ 'Diese Kosten können durch den Aufbau der <strong>Müll für Alle</strong>.'|trans({},'global')|raw}}</div>
		{{ 'Hilfe'|trans({},'global') }} </a>
	{% endif %}
</div>