{% extends "ajax/ajax_plain.html.twig" %}

{% from "ajax/pm/bubbles.html.twig" import bubble_index as bubble %}

{% block ajax_base %}
    <ul class="pm-conversation-list">
        {% for entry in entries %}
            {{ bubble(entry) }}
        {% endfor %}
    </ul>
    {% if more %}
        <div class="pm-endless-more"><i class="fa fa-spin fa-circle-notch"></i> {{ 'Weitere Einträge werden geladen...'|trans({},'global') }}</div>
    {% endif %}
{% endblock %}