{% extends "ajax/ajax_plain.html.twig" %}
{% block ajax_base %}
    <div x-og-resolved="{{ group.id }}">
        <img style="max-height: 24px;" alt="" src="{{ path('app_web_group_icon', { gid: group.usergroup.id, name: group.avatarName, ext: group.avatarExt }) }}" />
        <b>{{ group.usergroup.name }}</b>
    </div>
{% endblock %}