{% extends "ajax/ajax_plain.html.twig" %}
{% block ajax_base %}
    <div x-user-resolved="{{ user.id }}">
        {% include "ajax/soul/playeravatar.html.twig" with {user: user, small: false, wrapper: false, fallback: false, attributes: {style: 'max-height: 24px'}} only %}
        <b>{{ user.name }}</b>
    </div>
{% endblock %}